.create-user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c36;
    /* Dark background color */
    color: #fff;
    /* Text color */
}

.create-user-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 4px;
}

button {
    background-color: #3498db;
    /* Button color */
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
    /* Button color on hover */
}