/* Message list styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.heading h2 {
    margin: 0;
    font-size: larger;
}

.heading p {
    margin: 0;
    font-size: medium;
}

.mute {
    display: flex;
    justify-content: end;
    padding: 5px;
}

/* Status styling */
.status {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #3f51b5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
}

.status-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.status-circle-online {
    background-color: green;
}

.status-circle-offline {
    background-color: red;
}

.status-text {
    display: inline-block;
}

.status-text-online {
    color: green;
}

.status-text-offline {
    color: red;
}

/* Message list styling */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: black;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

li.highlight {
    background-color: chocolate;
}

/* Responsive design */
@media screen and (max-width: 600px) {
    li {
        font-size: 14px;
    }

    .heading h2 {
        font-size: 20px;
    }

    .heading p {
        font-size: 14px;
    }
}